# Practice assignment: Handling categorical data

In this programming assignment, you are going to work with the following dataset from Kaggle:

https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists

This assignment is graded by your `submission.json`.

The cell below creates a valid `submission.json` file, fill your answers in there. 

You can press "Submit Assignment" at any time to submit partial progress.

In [134]:
%%file submission.json
{
    "q1": 10,
    "q2": 123,
    "q3": 8,
    "q4": 23,
    "q5": 2.06,
    "q6": 0.72,
    "q7": 42824,
    "q8": 38702,
    "q9": 1709.79643,
    "q10": 0.36407,
    "q11": 0.45383,
    "q12": 0.26579,
    "q13": 0.24935,
    "q14": -0.40878,
    "q15": 0.18216,
    "q16": "major_discipline",
    "q17": 0.73
}

Overwriting submission.json

## Dataset description

Suppose that a company working with Big Data and Data Science wants to hire data scientists among people who have successfully passed some courses conducted by the company. Many people sign up for their training. The company wants to focus of the candidates who really want to work for them after training. Information related to demographics, education, experience is provided by the candidates via a sign-up form.

This dataset is designed to understand the factors that lead a person to leave current job which is useful for HR researches. Based on the provided data, you are going to predict whether a candidate is looking for a job change.

The whole data is divided into train and test parts. Data contains several categorical features – they need to be encoded.

## Feature description

- `enrollee_id`: Unique ID for a candidate
- `city`: City code
- `city_development_index`: Developement index of the city (scaled)
- `gender`: Gender of a candidate
- `relevent_experience`: Relevant experience of a candidate
- `enrolled_university`: Type of University course enrolled in if any
- `education_level`: Education level of a candidate
- `major_discipline`: Education major discipline of a candidate
- `experience`: Candidate total experience in years
- `company_size`: Number of employees in a current employer's company
- `company_type`: Type of a current employer
- `last_new_job`: Difference in years between previous and current jobs
- `training_hours`: training hours completed
- `target`: 0 – Not looking for job change, 1 – Looking for a job change

In [17]:
import numpy as np
import pandas as pd
import category_encoders as ce

In [18]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## 1

Before modifying the features, let's study our dataframe a bit. First, call `.dtypes` for `train` dataframe. 

**q1:** How many columns in `train` contain data types different from numbers (ints and floats)?

In [19]:
# your code here
len(train.columns[train.dtypes == "object"])

10

## 2

**q2:** How many unique caterogies does a feature `'city'` contain in the train data?

In [20]:
# your code here
train["city"].nunique()

123

## 3

**q3:** How many features in train data contain missing values (NaN)?

In [21]:
# your code here
len(train.isna().sum().where(lambda x: x > 0).dropna())

8

## 4

Some features have a relatively small number of missing values. For instance, `'experience'` has only 65 missing values in the train data. Replacing these missing values with a special category might introduce bias to the data. However, since the number of missing values is not so big, we might be OK with it.

Replace missing values in `'experience'` feature with a category -1.

**q4:** How many categories does this feature contain in the train data now?

_(hint: you might want to use `fillna` function from `pandas` library in this task, but remember that it's not an in-place function by default. Or you can use `SimpleImputer` from `sklearn`)_

In [22]:
# your code here
train["experience"].fillna(-1, inplace = True)

In [23]:
train["experience"].nunique()

23

## 5

`'education_level'` is an example of an ordinal feature. Sure, we can define an order on it. For instance, `'High School'` is "bigger" than `'Primary School'`, and `'Phd'` is "bigger" than '`Graduate'`. We can encode this feature with integer numbers in a correct order.

In this task, apply a correct mapping for the values of `'education_level'` feature. The mapping should be the following:

* `'Primary School'` -> 0
* `'High School'` -> 1
* `'Graduate'` -> 2
* `'Masters'` -> 3
* `'Phd'` -> 4

At the same time, impute missing values in `'education_level'` with a new category -1. So another part of the mapping would be:

* `np.nan` -> -1

**q5:** What will be the mean value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest TWO decimal places (e.g. 12.3456789 -> 12.35).

_(hint: you might want to use `map` function from `pandas` in this task)_

In [24]:
map_education = {'Primary School' : 0
                , 'High School' : 1
                , 'Graduate' : 2
                , 'Masters' : 3
                , 'Phd' : 4
                , np.nan : -1
                }

# your code here
train["education_level"].replace(map_education, inplace = True)
round(train["education_level"].mean(), 2)

2.06

## 6

Feature `'relevent_experience'` is an example of a binary feature. You can also check that it has no missing values, which makes its encoding pretty easy.

Encode this feature with the following mapping:

*   `"No relevent experience"` -> 0
*   `"Has relevent experience"` -> 1

**q6:** What will be the mean value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest TWO decimal places (e.g. 12.3456789 -> 12.35).

In [25]:
map_relevent_experience = {
    
      "No relevent experience" : 0
    , "Has relevent experience" : 1
}

# your code here
train["relevent_experience"].replace(map_relevent_experience, inplace = True)
round(train["relevent_experience"].mean(), 2)

0.72

## 7

In our case, `'gender'` is an example of a nominal feature (notice that it is not a binary feature cause it contains three categories + NaNs). We will use One-Hot encoding to encode it. There are several options how to do it in practice: for example, to use `get_dummies` function from `pandas` or `OneHotEncoder` from `sklearn.preprocessing`. Here, we will go with the first option.

If you want to encode a whole dataset with One-Hot encoding, you can directly pass it into the discussed methods. But here we want to encode only one feature. We suggest to do it in four steps:

1. Obtain a One-Hot encoding dataframe for the feature `'gender'`: apply `pd.get_dummies` to this feature. As a result, you should obtain a dataframe with three features (three different categories for gender). Don't include `'NaN'` feature - it will already be included as the encoding (0, 0, 0).
2. Change the column names of this dataframe, so that a feature `'<category_name>'` will become `'gender-<category_name>'`. Of course, it is not a necessary step in general. However, it probably would be more convenient to work with a full dataframe if we remember that these One-Hot encoded features originally came from the feature `'gender'`. On a technical side, you can perform it by changing `df_gender.columns` list.
3. Concatenate original and new dataframes. You can do it by calling `pd.concat` function. Don't forget to set `'axis'` parameter, so that you concatenate dataframes by columns, not by rows. As a result of this step, you should obtain a new `train` dataframe with three new columns named like `'gender-<category_name>'`.
4. Finally, drop `'gender'` feature because we have already encoded it.

As a result of these four steps, you should obtain a new version of `train` dataframe, with dropped `'gender'` feature and three new features named like `'gender-<category_name>'`. A total number of columns by this time should be equal to 16.

**q7:** What is the total number of zero values which appear in the columns starting with `'gender-'`?

_Example: suppose that you obtain the following dataframe:_

| gender-category1 | gender-category2   | gender-category3|
|------|------|------|
|   0  | 1| 0|
|0|0|0|

_Then the answer for the question above should be 5._

In [116]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
OHE = ce.one_hot.OneHotEncoder(verbose=0
                               , cols=["gender", "enrolled_university"]
                               , drop_invariant=False
                               , return_df=True
                               , handle_missing='value'
                               , handle_unknown='value'
                               , use_cat_names=True)

In [119]:
train = OHE.fit_transform(train)
train.drop(["gender_nan", "enrolled_university_nan"], inplace = True, axis = 1)

In [11]:
# your code here

def get_sum_zeroes(dataframe):
    return (dataframe.count() - dataframe.sum()).sum()

def OHE_transform(column, dataframe): 
    map_column = {x:column+"-"+x for x in dataframe[column].where(lambda x: x != "nan").dropna().unique()}
    column_df = pd.DataFrame(pd.get_dummies(dataframe[column]))
    column_df.rename(columns = map_column, inplace = True)
    dataframe = pd.concat([dataframe, column_df], axis = 1)
    dataframe.drop([column], inplace = True, axis = 1)
    
    return dataframe, get_sum_zeroes(column_df)

ohe_column = "gender"
    
train, zeroes = OHE_transform(ohe_column, train)
zeroes

42824

## 8

Perform One-Hot encoding for the feature `'enrolled_university'`, using the similar procedure as in the previous task:

1. Obtain a One-Hot encoding dataframe for `'enrolled_university'`.
2. Rename its columns.
3. Concatenate original and One-Hot encoding dataframes.
4. Drop `'enrolled_university'` column.

A total number of columns by this time should be equal to 18.

**q8:** What is the total number of zero values which appear in the columns starting with `'enrolled_university-'`?

In [12]:
# your code here
ohe_column = "enrolled_university"
    
train, zeroes = OHE_transform(ohe_column, train)
zeroes

38702

In [13]:
len(train.columns)

18

## 9

Encode feature `'city'` using frequency encoding. You should map each category `'city_i'` to its count (a total number of observations in `train` with `city == 'city_i'`). Save this mapping, since later you would apply the same mapping to the test data.

As a result of this task, feature `'city'` should be encoded with category counts in `train`. 

**q9:** What will be the mean value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [14]:
column = "city"

map_city = pd.Series(train[column].value_counts()).to_dict()

# your code here
train[column].replace(map_city, inplace = True)
round(train[column].mean(), 5)

1709.79643

## 10

Encode feature `'last_new_job'` with target encoding with no modifications. First, impute missing values in this feature with a new category `'-1'`. Then, map each category of `'last_new_job'` to the mean target value of the observations with the corresponding category. Save this mapping, since later you would apply the same mapping to the test data.

**q10:** What will be the maximum value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.35).

_(hint: you might want to use `groupby` function from `pandas` in this task)_

In [15]:
# your code here
column = "last_new_job"

train[column].fillna(-1, inplace = True)

map_last_new_job = pd.Series(train.groupby(column)['target'].mean()).to_dict()

# your code here
train[column].replace(map_last_new_job, inplace = True)

In [16]:
round(max(map_last_new_job.values()), 5)

0.36407

## 11

Encode feature `'experience'` with M-estimate encoding. Map each category of `'experience'` according to the following formula:

$$
\hat{x_{ij}} = \frac{\text{target}\left(j, x_{ij}\right) + m\times y_{\text{mean}}}{\text{count}\left(j, x_{ij}\right) + m}\quad,
$$

where

* $x_{ij}$ is a category being encoded,
* $\hat{x_{ij}}$ is its corresponding M-estimate encoding value,
* $\text{count}\left(j, x_{ij}\right)$ is a total number of times $x_{ij}$ appeared in `train`,
* $\text{target}\left(j, x_{ij}\right)$ is a mean target value of the observations with the corresponding category,
* $m$ is a parameter.

In this task, set $m = 0.5$. 

**q11:** What will be the maximum value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [150]:
column = 'experience'
stats = train['target'].groupby(train[column]).agg(['sum', 'count'])  
_sum = train['target'].sum()
_count = train['target'].count()
prior = _sum/_count
m = 0.5
estimate = (stats['sum'] + prior * m) / (stats['count'] + m)


map_experience = estimate.to_dict()

# your code here
train[column].replace(map_experience, inplace = True)

In [151]:
round(max(map_experience.values()),5)

0.45383

## 12

Encode feature `'major_discipline'` with Leave-One-Out encoding. Remember that this technique is similar to target encoding, but here while computing the encoding for a particular observation, we exclude it from the target encoding formula. Therefore a category $x_{ij}$ for the $i$-th observation will be encoded according to the following formula:

$$
\hat{x_{ij}} = \frac{\text{target}\left(j, x_{ij}\right) - y_i}{\text{count}\left(j, x_{ij}\right) - 1}\quad,
$$

where

* $\hat{x_{ij}}$ is its corresponding M-estimate encoding value,
* $\text{count}\left(j, x_{ij}\right)$ is a total number of times $x_{ij}$ appeared in `train`,
* $\text{target}\left(j, x_{ij}\right)$ is a mean target value of the observations with the corresponding category,
* $y_i$ is a target value of the $i$-th observation

For example, suppose that you have the following train data:

|feature|target|
|-|-|
|A|1|
|A|0|
|B|1|
|B|0|
|A|0|

Then you obtain the following Leave-One-Out encoding:

|feature|feature_loo_encoded|
|-|-|
|A|0.0|
|A|0.5|
|B|0.0|
|B|1.0|
|A|0.5|

It is very important to notice that in this method the same category can be encoded differently for different observations. Thus, after encoding the train part of data, you should create a mapping which will help to encode the test data. In order to do this, simply average train encoding values within each category to obtain the final encoding. For instance, suppose that you obtain the following train dataframe:

|feature|feature_loo_encoded|
|-|-|
|A|0.2|
|A|0.6|
|B|0.3|
|B|0.7|
|A|0.4|

Then, for the test data, you should obtain the following mapping:

* A -> 0.4 (because 0.4 is a mean value of the encoded values for the category A)
* B -> 0.5 (because 0.5 is a mean value of the encoded values for the category B)

Don't impute any missing values in this task. After completing this task, drop the feature `'major_discipline'` and rename `'major_discipline_loo_encoded'` to `'major_discipline'`.

**q12:** What will be the maximum value of the encoding values for `'major_discipline'` for the TEST data in the mapping described above? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [152]:
column = 'major_discipline'
new_column = "major_discipline_loo_encoded"
stats = train['target'].groupby(train[column]).agg(['sum', 'count'])  
estimate = (train[column].map(stats['sum']) - train['target']) / (train[column].map(stats['count']) - 1)

train[new_column] = estimate 

# your code here

map_major_discipline = train[[column, new_column]].groupby([column]).mean()[new_column].to_dict()

# your code here

train.drop(column, inplace = True, axis = 1)
train.rename(columns = {new_column:column}, inplace = True)


np.round(test['major_discipline'].apply(lambda x: map_major_discipline.get(x, np.nan)).max(), 5)

0.26772

## 13

Encode feature `'company_size'` with Catboost encoding. The technique was described in the lecture. Here, for the sake of simplicity, let's use the implementation from `category_encoders` library.

As you may remember, Catboost encoding depends on how the data is ordered. Normally, you should shuffle the data one time or even several times. In this task, we will assume that the data has already been shuffled, so you don't need to shuffle it again.

Take `CatBoostEncoder` and use the default values for all its parameters, except `handle_missing` - set it to `'return_nan'` so that your encoder don't do anything with missing values. Fit it on the `'company_size'` (train data) and `'target'` and transform this feature. Save the encoder - it will be used later to transform this feature in test data.

Don't impute any missing values in this task.

**q13:** What will be the most popular value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [153]:
from category_encoders.cat_boost import CatBoostEncoder
# your code here
column = "company_size"
cbe_encoder = CatBoostEncoder(cols = [column], handle_missing = "return_nan")
train = cbe_encoder.fit_transform(train, train["target"])

In [154]:
train[column].value_counts()

0.249348    8
0.124674    6
0.224935    5
0.178478    5
0.249928    5
           ..
0.159303    1
0.147630    1
0.160123    1
0.146642    1
0.180865    1
Name: company_size, Length: 12567, dtype: int64

## 14

Encode feature `'company_type'` with Weight of Evidence (WoE) encoding. A category $x_{ij}$ will be encoded according to the following formula:

$$
\hat{x_{ij}} = \ln\left(\frac{\mathbb{P}\left(x_{ij}\mid y=1\right)}{\mathbb{P}\left(x_{ij}\mid y=0\right)}\right)\quad.
$$

Here:

$$
\mathbb{P}\left(x_{ij}\mid y=1\right) = \frac{\text{count}\left(y=1\mid x_{ij}\right)}{\text{count}\left(y=1\right)}
$$
$$
\mathbb{P}\left(x_{ij}\mid y=0\right) = \frac{\text{count}\left(y=0\mid x_{ij}\right)}{\text{count}\left(y=0\right)}
$$

The notation means the following:

* $\text{count}\left(y=1\mid x_{ij}\right)$ denotes the number of observations with the category $x_{ij}$ where the target value is equal to $1$;
* $\text{count}\left(y=0\mid x_{ij}\right)$ denotes the same but for the target value $0$;
* $\text{count}\left(y=1\right)$ denotes the number of observations with the target value equal to $1$;
* $\text{count}\left(y=0\right)$ denotes the same but for the target value $0$.


For example, suppose that you have the following train data:

|feature|target|
|-|-|
|A|1|
|A|0|
|B|1|
|B|0|
|A|0|

Then you obtain the following WoE encoding mapping:

* A -> $\ln\left(\frac{\frac{1}{2}}{\frac{2}{3}}\right) \approx -0.288$ 
* B -> $\ln\left(\frac{\frac{1}{2}}{\frac{1}{3}}\right) \approx 0.405$ 

Don't impute any missing values in this task.

**q14:** What will be the most popular value of this feature in the train data after the encoding? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [155]:
column = 'company_type'
count_xy1 = train[train['target'] == 1].groupby(column)['target'].count()
count_xy0 = train[train['target'] == 0].groupby(column)['target'].count()
count_y1 = train[train['target'] == 1]['target'].count()
count_y0 = train[train['target'] == 0]['target'].count()
P_xy1 = count_xy1/count_y1
P_xy0 = count_xy0/count_y0

map_company_type = (P_xy1/P_xy0).apply(lambda x: np.log(x)).to_dict()
train[column].replace(map_company_type, inplace = True)

In [156]:
train[column].value_counts()

-0.408782    9817
-0.714357    1001
-0.164182     955
-0.075476     603
-0.372927     521
-0.052398     121
Name: company_type, dtype: int64

## 15

We have encoded all categorical features. Next, we drop `'enrollee_id'` because it is not a representative feature. After this, we split train part of data into the dataframe which contains only features (without target) and the target array.

Before training the models, we should impute the remaining missing values. You might have noticed that we didn't impute missing values for the features `'major_discipline'`, `'company_size'` and `'company_type'`. This is because the number of missing values in these features is relatively big (you can check it yourself). In practice, you might just create a special category (like `'-1'`) for each of these features before the encoding. However, in this task, let's perform the imputation using KNN approach - where we impute missing values by looking at the similar observations.

Import `KNNImputer` from `sklearn`. It works only with the dataset with numbers - this is why we didn't run it before the encoding. Set `n_neighbors=3`, and let other parameters have the default values. Fit it on the train dataframe with features, and then transform it. Notice that after the transformation we will obtain `numpy.array` - make `pandas.DataFrame` out of it with the same columns as before.

Save the KNN imputer - you will need it to process the test data. Check that there are no missing values in the train data anymore.

**q15:** What is the mean value of the `'company_size'` feature in the train data after the imputation? Provide the answer, rounded to the nearest FIVE decimal places (e.g. 12.3456789 -> 12.34568).

In [157]:
X_train = train.drop(['enrollee_id', 'target'], axis=1)
y_train = train['target']

X_train.shape, y_train.shape

((19158, 16), (19158,))

In [158]:
from sklearn.impute import KNNImputer
# your code here
kkn_imp = KNNImputer(n_neighbors=3)
kkn_imp.fit(X_train, y_train)

X_train_kkn = kkn_imp.transform(X_train)

In [160]:
pd.DataFrame(X_train_kkn, columns=X_train.columns)['company_size'].mean()

0.18215611873304263

## 16

Finally, train a Random Forest classifier from `sklearn` on the train data. Set `n_estimators=500`, `max_depth=8`, `random_state=13`, and let other parameters have the default values. Check feature importances. 

**q16:** What is the name of the most important feature for this model? Provide the name of the feature.

In [161]:
from sklearn.ensemble import RandomForestClassifier
# your code here
RFC = RandomForestClassifier(n_estimators=500, max_depth=8, random_state=13)
RFC.fit(X_train_kkn, y_train)

RandomForestClassifier(max_depth=8, n_estimators=500, random_state=13)

In [166]:
data = list(zip(X_train.columns, RFC.feature_importances_))
pd.DataFrame(data, columns =['Feature', 'Importance']).sort_values(by=['Importance'], ascending=False).sort_index()

                                 Feature  Importance
0                                   city    0.028299
1                 city_development_index    0.095917
2                    relevent_experience    0.007781
3                        education_level    0.040324
4                             experience    0.014585
5                           company_size    0.009680
6                           company_type    0.009142
7                           last_new_job    0.005689
8                         training_hours    0.007989
9                          gender-Female    0.000861
10                           gender-Male    0.001400
11                          gender-Other    0.000454
12  enrolled_university-Full time course    0.007628
13  enrolled_university-Part time course    0.000776
14     enrolled_university-no_enrollment    0.006695
15                      major_discipline    0.762782

## 17

In this last task, process the test data so that it is possible to make Random Forest predictions on for it. Perform the similar operations as for the train data, but remember that now you work with test observations and therefore all operations are in the inference mode.

1. (task 4) Feature `'experience'`: impute missing values by -1. 
2. (task 5) Feature `'education_level'`: perform ordinal encoding mapping.
3. (task 6) Feature `'relevent_experience'`: perform binary mapping.
4. (task 7) Feature `'gender'`: perform One-Hot encoding and obtain three new features starting with `'gender-'`. Drop `'gender'` feature.
5. (task 8) Feature `'enrolled_university'`: perform One-Hot encoding and obtain three new features starting with `'enrolled_university-'`. Drop `'enrolled_university'` feature.
6. (task 9) Feature `'city'`: perform frequency encoding mapping.
7. (task 10) Feature `'last_new_job'`: impute missing values by -1 and perform target encoding mapping.
8. (task 11) Feature `'experience'`: perform M-estimate encoding mapping.
9. (task 12) Feature `'major_discipline'`: perform Leave-One-Out encoding mapping.
10. (task 13) Feature `'company_size'`: perform Catboost encoding mapping.
11. (task 14) Feature `'company_type'`: perform WoE encoding mapping.
12. (task 15) Split `test` into `X_test` (a dataframe with no `'enrollee_id'` and `'target'`) and `y_test` (an array with target values). Impute missing values by using KNN imputer which you used before (now only in a transform mode).

As a result of the operations described above, you should obtain `X_test` which is a `pandas.DataFrame` with a shape (2129, 16). Calculate the predictions of the trained Random Forest model on it. Check the accuracy of the predictions on test data.

Then calculate the predictions of the same model on `X_train` and check the accuracy there. Compare the accuracies on train and test data. Do you notice something? What, in your opinion, caused such difference in the accuracies?

**q17:** As a result of this task, provide the accuracy for the test data, rounded to the nearest TWO decimal places (e.g. 12.3456789 -> 12.35).

In [179]:
from copy import copy
real_test = pd.read_csv('test.csv')
test = copy(real_test)
# your code here

#(task 4) Feature 'experience': impute missing values by -1.
test["experience"].fillna(-1, inplace = True)

#(task 5) Feature 'education_level': perform ordinal encoding mapping.
test["education_level"].replace(map_education, inplace = True)

#(task 6) Feature 'relevent_experience': perform binary mapping.
test["relevent_experience"].replace(map_relevent_experience, inplace = True)

#(task 7) Feature 'gender': perform One-Hot encoding and obtain three new features starting with 'gender-'. 
#Drop 'gender' feature    
test, zeroes = OHE_transform("gender", test)

#(task 8) Feature 'enrolled_university': perform One-Hot encoding and obtain three new features starting with 'enrolled_university-'. 
#Drop 'enrolled_university' feature   
test, zeroes = OHE_transform("enrolled_university", test)

#(task 9) Feature 'city': perform frequency encoding mapping
test["city"].replace(map_city, inplace = True)

#task 10) Feature 'last_new_job': impute missing values by -1 and perform target encoding mapping.
test["last_new_job"].fillna(-1, inplace = True)
test["last_new_job"].replace(map_last_new_job, inplace = True)

#(task 11) Feature 'experience': perform M-estimate encoding mapping
test["experience"].replace(map_experience, inplace = True)

#(task 12) Feature 'major_discipline': perform Leave-One-Out encoding mapping.
test["major_discipline"].replace(map_major_discipline, inplace = True)

#(task 13) Feature 'company_size': perform Catboost encoding mapping
test = cbe_encoder.transform(test)

#(task 14) Feature 'company_type': perform WoE encoding mapping
test["company_type"].replace(map_company_type, inplace = True)

#(task 15) Split test into X_test (a dataframe with no 'enrollee_id' and 'target') and y_test (an array with target values). 
#Impute missing values by using KNN imputer which you used before (now only in a transform mode).
X_test = test.drop(['enrollee_id', 'target'], axis=1)
y_test = test['target']
X_test = kkn_imp.transform(X_test)

array([[8.900e+01, 8.270e-01, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [4.355e+03, 9.200e-01, 1.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [2.702e+03, 6.240e-01, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [2.750e+02, 8.870e-01, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [3.040e+02, 8.040e-01, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [3.040e+02, 8.040e-01, 1.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00]])

In [182]:
y_pred = RFC.predict(X_test)

In [183]:
from sklearn.metrics import accuracy_score
# your code here
y_pred = RFC.predict(X_test)
round(accuracy_score(y_test, y_pred), 2)

0.69